<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, repudiandae labore cupiditate debitis quasi optio rerum provident magni, tenetur cum et officiis, eaque pariatur esse praesentium nesciunt quis placeat explicabo.</p>
        </div>
        <!-- Include footer -->
        <%- include('./partials/footer.ejs') %>
    </body>
</html>