<nav>
    <div class="site-title">
        <a href="/"><h1>Mohammad's Blog</h1></a>
    </div>
    <ul>
        <li><a class="Link" href="/blogs/">Blogs</a></li>
        <li><a class="Link" href="/about">About</a></li>
        <li><a class="Link" href="/blogs/create">New blog</a></li>
    </ul>
</nav>