<!DOCTYPE html>
<html lang="en">
    <!-- Include Head -->
    <%- include('./partials/head.ejs') %> 
    <body>
        <!-- Include Navbar -->
        <%- include('./partials/nav.ejs') %>
        <main class="content" style="display:flex;flex-direction:column;align-items:center;justify-content:center;">
            <h1>Welcome to my Blog</h1>
            <h3>Continue to the blogs.</h3>
            <a class="Link" href="/blogs/">Blogs</a>
        </main>
        <!-- Include footer -->
        <%- include('./partials/footer.ejs') %>
    </body>
</html>